
## Service name in the four languages:  äöü
service.name.en=Request residence certification
service.name.ger=Antragsformular f&uuml;r Wohnsitzbescheinigung
service.name.it=Richiesta del Certificato di Residenza
service.name.sp=Solicitud a un certificado de residencia

