## property file for the Service3/v15 service

service.info.service.id=Service3/v15
service.info.service.version=1.5
service.info.service.name=Service 3 (version 1.5)
service.info.service.factory.class.name=org.emayor.servicehandling.kernel.eMayorServiceFactory
service.info.service.class.name=org.emayor.service3.Service3_15
service.info.service.description=Description of the service 3.