
## Service name in the four languages:  äöü
service.name.en=Request residence certification
service.name.ger=Antragsformular f&uuml;r Wohnsitzbescheinigung
service.name.it=Richiesta di attestato di domicilio, dimora
service.name.sp=Solicitud de certificado de empadronamiento

